@import '~@angular/material/theming';
@include mat-core();
// GAMA DE COLORES
$my-primary-color: ( 200: #80a1ac, 500: #37b1d6, 700: #1a7b9e, contrast: ( 200: #000000, 500: #ffffff, 700: #ffffff, ));
$my-accent-color: ( 200: #86b7ff, 500: #1d6bc4, 700: #3e48d8, contrast: ( 200: #000000, 500: #ffffff, 700: #ffffff, ));
$my-warn-color: ( 200: #feba80, 500: #fd7400, 700: #fc6100, contrast: ( 200: #000000, 500: #000000, 700: #000000, ));
// PALETA DE COLORES
$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);
// TEMA PROPIO
$my-theme: mat-light-theme(( color: ( primary: $my-palette-primary, accent: $my-palette-accent, warn: $my-palette-warn)));
// APLICAR NUESTRO TEMA A ANGULAR
@include angular-material-theme($my-theme);